.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 300px;
  background-color: lightblue;

  .wrapper1 {
    width: 50%;
    height: 100px;
    background-color: blue;
  }
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: grey;

  .wrapper2 {
    width: 50%;
    height: 100px;
    background-color: blue;
  }
}
